<p-toast />
<section class="w-full flex justify-center my-8">
  <div class="max-w-7xl w-full flex justify-center">
    <form
      class="w-1/2 flex flex-col gap-4 border border-black/10 px-8 py-4 rounded-2xl"
      [formGroup]="authForm"
    >
      <h3 class="font-bold">Log In.</h3>
      <div class="flex flex-col gap-2 w-full">
        <input
          type="text"
          id="email"
          placeholder="Email"
          class="text-base w-full input-md input-r-full"
          formControlName="email"
        />
        <input
          type="password"
          id="password"
          placeholder="Password"
          class="text-base w-full input-md input-r-full"
          formControlName="password"
        />
      </div>
      <div class="flex justify-between items-center px-4">
        <a href="#" class="link link-sub">Forgot password?</a>
        <a [routerLink]="['/auth', 'sign-up']" class="link link-sub"
          >Create new account</a
        >
      </div>
      <button
        (click)="handleLogin()"
        class="w-full btn-large btn-primary hover:bg-secondary btn-r-full"
      >
        Login
      </button>
    </form>
  </div>
</section>
