<a
  [routerLink]="['/product/' + productData?._id]"
  class="relative flex flex-col gap-4"
>
  <div
    class="absolute top-2 right-2 flex items-center py-1 px-2 bg-black/80 text-white gap-1 rounded-full"
  >
    <p>{{ productData?.views }}</p>
    <i class="fa-solid fa-eye"></i>
  </div>

  <div class="bg-gray rounded-xl">
    <img
      class="w-full"
      src="{{ imageUrlPrefix }}{{ productData?.productImage }}"
      alt=""
    />
  </div>
  <div class="flex flex-col gap-2">
    <div class="flex justify-between">
      <h6 class="font-bold">{{ productData?.productName }}</h6>
      <div class="flex gap-1 items-center">
        <p class="text-primary font-bold">
          {{ productData?.productRating }}/<span
            class="text-disabled font-normal"
            >5</span
          >
        </p>
        <i class="fa-solid fa-star text-yellow-400"></i>
      </div>
    </div>
    <div
      *ngIf="productData?.isDiscount; then haveDiscount; else noDiscount"
    ></div>
    <div>
      <p class="text-sm italic text-sub">{{ productData?.soldCount }} sold</p>
    </div>
    <ng-template #noDiscount>
      <div class="flex items-center gap-2">
        <h5 class="font-semibold">${{ productData?.productPrice }}</h5>
      </div>
    </ng-template>

    <ng-template #haveDiscount>
      <div class="flex items-center gap-2">
        <h5 class="font-semibold">${{ productDiscountPrice }}</h5>
        <h5 class="font-semibold text-sub line-through">
          ${{ productData?.productPrice }}
        </h5>
        <span class="bg-red-300/20 text-danger px-4 py-1 rounded-xl text-sm"
          >-{{ productData?.discountPercents }}%</span
        >
      </div>
    </ng-template>
  </div>
</a>
