<p-toast />
<section class="w-full flex justify-center">
  <div class="max-w-7xl w-full flex flex-col gap-4">
    <app-details-section [productDetails]="productDetails" />
    <section class="w-full flex items-start justify-between">
      <p-tabView class="w-full" (onChange)="changeCurrentTab($event)">
        <p-tabPanel header="Comments">
          <app-comments-section [productComments]="productComments" />
        </p-tabPanel>
        <p-tabPanel header="Reviews">
          <app-reviews-section [productReviews]="productReviews" />
        </p-tabPanel>
      </p-tabView>
      <ng-container *ngIf="currentTab === 0">
        <button
          class="bg-black py-2 px-4 text-white min-w-max rounded-xl"
          (click)="showCommentDialog()"
          *ngIf="isLoggedIn"
        >
          Add your Comment
        </button>
      </ng-container>
      <ng-container *ngIf="currentTab === 1">
        <button
          class="bg-black py-2 px-4 text-white min-w-max rounded-xl"
          (click)="showReviewDialog()"
          *ngIf="isLoggedIn"
        >
          Add your Review
        </button>
      </ng-container>
    </section>

    <div class="w-full flex flex-col gap-4">
      <header class="w-full text-center">
        <h2 class="uppercase font-extrabold">You may also like</h2>
      </header>
      <main class="grid grid-cols-4 gap-8">
        <app-product-card
          *ngFor="let product of top4RelateTo"
          [productData]="product"
        />
      </main>
    </div>
  </div>
</section>
<p-dialog
  header="Comment"
  [modal]="true"
  [(visible)]="visibleCommentDialog"
  [style]="{ width: '40rem' }"
>
  <div class="flex flex-col items-center gap-4">
    <label for="commentContent" class="font-semibold w-full"
      >Your comment</label
    >
    <textarea
      [(ngModel)]="commentContent"
      id="commentContent"
      class="w-full border border-black/10 p-2 outline-none rounded-xl"
      rows="3"
      autocomplete="off"
    ></textarea>
  </div>

  <div class="flex justify-end gap- py-4">
    <button
      (click)="hideCommentDialog()"
      class="rounded-xl bg-gray text-sub px-4 py-2"
    >
      Cancel
    </button>
    <button
      (click)="handleSubmitComment()"
      class="rounded-xl bg-black text-white px-4 py-2"
    >
      Submit
    </button>
    <!-- <button label="Cancel" severity="secondary" (click)="visible = false" /> -->
    <!-- <button label="Save" (click)="visible = false" /> -->
  </div>
</p-dialog>

<p-dialog
  header="Reviews"
  [modal]="true"
  [(visible)]="visibleReviewDialog"
  [style]="{ width: '40rem' }"
>
  <div class="flex flex-col items-center gap-4">
    <app-star-rate (starChange)="handleStarChange($event)" />
    <label for="commentContent" class="font-semibold w-full"
      >Your review content here</label
    >
    <textarea
      [(ngModel)]="reviewContent"
      id="reviewContent"
      class="w-full border border-black/10 p-2 outline-none rounded-xl"
      rows="3"
      autocomplete="off"
    ></textarea>
  </div>

  <div class="flex justify-end gap- py-4">
    <button
      (click)="hideReviewDialog()"
      class="rounded-xl bg-gray text-sub px-4 py-2"
    >
      Cancel
    </button>
    <button
      (click)="handleSubmitReview()"
      class="rounded-xl bg-black text-white px-4 py-2"
    >
      Submit
    </button>
    <!-- <button label="Cancel" severity="secondary" (click)="visible = false" /> -->
    <!-- <button label="Save" (click)="visible = false" /> -->
  </div>
</p-dialog>
