<div
  class="w-full px-8 py-6 border border-black/10 rounded-xl flex flex-col gap-4"
>
  <div class="flex gap-1 items-center">
    <i
      *ngFor="let star of reviewStar"
      class="fa-solid fa-star text-yellow-400"
    ></i>
  </div>
  <div class="flex gap-4 items-center">
    <h6 class="font-semibold">{{ userName }}</h6>
    <i class="fa-solid fa-circle-check text-success text-xl"></i>
  </div>
  <div class="flex gap-4 items-center">
    <p>
      {{ reviewContent }}
    </p>
  </div>
  <div>
    <p class="text-sub">Posted on {{ postedOn }}</p>
  </div>
</div>
