<p-toast />
<section class="w-full flex flex-col gap-4">
  <header class="flex justify-between items-center gap-4">
    <div class="flex items-center gap-4">
      <div
        class="min-w-max flex gap-4 items-center bg-secondary/10 font-medium text-secondary px-4 py-2 rounded-md"
      >
        <p>Total Categories:</p>
        <p>{{ listProducts.length }}</p>
      </div>

      <div
        class="min-w-max flex gap-4 items-center bg-success/10 font-medium text-success px-4 py-2 rounded-md"
      >
        <p>Active:</p>
        <p>{{ activeProducts }}</p>
      </div>
      <div
        class="min-w-max flex gap-4 items-center bg-danger/10 font-medium text-danger px-4 py-2 rounded-md"
      >
        <p>Inactive:</p>
        <p>{{ inactiveProducts }}</p>
      </div>
    </div>
    <div>
      <button class="btn btn-r-xl btn-primary" [routerLink]="['new']">
        <i class="fa-solid fa-plus"></i>New Product
      </button>
    </div>
  </header>
  <main>
    <p-table
      [value]="listProducts"
      [tableStyle]="{
        'min-width': '60rem',
      }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="w-1/12 text-center">Thumbnail</th>
          <th class="w-6/12 text-center">Product Name</th>
          <th class="w-1/12 text-center">Price</th>
          <th class="w-1/12 text-center">Category</th>
          <th class="w-1/12 text-center">Stock</th>
          <th class="w-1/12 text-center">Status</th>
          <th class="w-1/12 text-center">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td class="w-max text-center">
            <img
              class="max-w-[100px]"
              src="{{ prefixImage }}{{ product.productImage }}"
              alt=""
            />
          </td>
          <td class="text-center">{{ product.productName }}</td>
          <td class="text-center">{{ product.productPrice }}</td>
          <td class="text-center">{{ product.productCategory }}</td>
          <td class="w-full text-center">
            {{ product.productStock }}
            <span
              class="min-w-max text-danger italic"
              *ngIf="product.productStock < 10"
              >({{ product.productStock !== 0 ? "Low" : "Out stock" }})</span
            >
          </td>
          <td
            class="w-full text-center"
            [ngClass]="{
            'text-success': product.isActive,
            'text-danger': !product.isActive,}"
          >
            {{ product.isActive ? "Active" : "Disabled" }}
          </td>
          <td class="w-full text-center">
            <div class="flex justify-center gap-1">
              <button
                class="btn btn-icon btn-danger btn-r-md"
                *ngIf="product.isActive"
                (click)="handleDeactivateProduct(product._id)"
              >
                <i class="fa-solid fa-lock"></i>
              </button>
              <button
                class="btn btn-icon btn-secondary btn-r-md"
                *ngIf="!product.isActive"
                (click)="handleReactivateProduct(product._id)"
              >
                <i class="fa-solid fa-unlock"></i>
              </button>
              <button
                class="btn btn-icon btn-secondary btn-r-md"
                [routerLink]="[product._id]"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <button
                [routerLink]="[product._id, 'edit']"
                class="btn btn-icon btn-warning btn-r-md"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                (click)="handleDeleteProduct(product._id)"
                class="btn btn-icon btn-danger btn-r-md"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex items-center">
          In total there are
          {{ listProducts ? listProducts.length : 0 }} products.
        </div>
      </ng-template>
    </p-table>
  </main>
</section>
