<div
  class="w-full px-8 py-6 border border-black/10 rounded-xl flex flex-col gap-4"
>
  <div class="flex gap-1 items-center">
    <i class="fa-solid fa-star text-yellow-400"></i>
    <i class="fa-solid fa-star text-yellow-400"></i>
    <i class="fa-solid fa-star text-yellow-400"></i>
    <i class="fa-solid fa-star text-yellow-400"></i>
    <i class="fa-solid fa-star text-yellow-400"></i>
  </div>
  <div class="flex gap-4 items-center">
    <h6 class="font-semibold">Username Here</h6>
    <i class="fa-solid fa-circle-check text-success text-xl"></i>
  </div>
  <div class="flex gap-4 items-center">
    <p>
      "I absolutely love this t-shirt! The design is unique and the fabric feels
      so comfortable. As a fellow designer, I appreciate the attention to
      detail. It's become my favorite go-to shirt."
    </p>
  </div>
  <div>
    <p class="text-sub">Posted on August 14, 2023</p>
  </div>
</div>
