<p-toast />
<section class="w-full flex flex-col gap-4">
  <header class="flex items-center gap-4">
    <div
      class="min-w-max flex gap-4 items-center bg-secondary/10 font-medium text-secondary px-4 py-2 rounded-md"
    >
      <p>Total Orders:</p>
      <p>{{ listOrders.length }}</p>
    </div>

    <div
      class="min-w-max flex gap-4 items-center bg-success/10 font-medium text-success px-4 py-2 rounded-md"
    >
      <p>New Orders Today:</p>
      <p>1</p>
    </div>
  </header>
  <main>
    <p-table [value]="listOrders" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Order Id</th>
          <th>Customer Name</th>
          <th class="text-center">Total Items</th>
          <th class="text-center">Total Price</th>
          <th class="text-center">Order Date</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.transformId }}</td>
          <td>
            {{ order.customerInfo.fullName }}
          </td>
          <td class="text-center">{{ order.orderItems.length }}</td>
          <td class="text-center">${{ order.totalPrice }}</td>
          <td class="text-center">{{ order.orderDate }}</td>
          <td class="text-center">
            <div
              class="{{
                listOrderStatus[order.orderStatus]
              }} w-max m-auto px-4 py-x rounded-md"
            >
              {{ order.orderStatus | titlecase }}
            </div>
          </td>
          <td class="text-center">
            <div class="flex justify-center">
              <button
                [routerLink]="[order._id]"
                class="btn btn-icon btn-secondary btn-r-md"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex items-center">
          In total there are {{ listOrders ? listOrders.length : 0 }} orders.
        </div>
      </ng-template>
    </p-table>
  </main>
</section>
