<footer class="w-full flex justify-center items-center bg-gray py-16 mt-8">
  <div class="max-w-7xl w-full grid grid-cols-5 gap-4">
    <div class="w-full flex flex-col gap-4 justify-start">
      <img class="max-w-[200px]" src="assets/logow_b.png" alt="" />
      <p class="text-sub">
        We have clothes that suits your style and which you’re proud to wear.
        From women to men.
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <header>
        <p class="uppercase font-semibold">Company</p>
      </header>
      <main class="flex flex-col gap-2">
        <p class="text-sub">About</p>
        <p class="text-sub">Features</p>
        <p class="text-sub">Works</p>
        <p class="text-sub">Career</p>
      </main>
    </div>
    <div class="flex flex-col gap-4">
      <header>
        <p class="uppercase font-semibold">Help</p>
      </header>
      <main class="flex flex-col gap-2">
        <p class="text-sub">Customer Support</p>
        <p class="text-sub">Delivery Details</p>
        <p class="text-sub">Terms & Conditions</p>
        <p class="text-sub">Privacy Policy</p>
      </main>
    </div>
    <div class="flex flex-col gap-4">
      <header>
        <p class="uppercase font-semibold">FAQ</p>
      </header>
      <main class="flex flex-col gap-2">
        <p class="text-sub">Account</p>
        <p class="text-sub">Manage Deliveries</p>
        <p class="text-sub">Orders</p>
        <p class="text-sub">Payments</p>
      </main>
    </div>
    <div class="flex flex-col gap-4">
      <header>
        <p class="uppercase font-semibold">Social</p>
      </header>
      <main class="flex flex-col gap-2">
        <p class="text-sub">Facebook</p>
        <p class="text-sub">Instagram</p>
        <p class="text-sub">Email</p>
        <p class="text-sub">Zalo</p>
      </main>
    </div>
  </div>
</footer>
