<p-toast />
<section class="w-full p-4 flex flex-col gap-4">
  <header class="flex flex-col gap-2">
    <h5 class="font-bold">List address</h5>
    <p class="italic">Manage your list addresses</p>
  </header>
  <app-hr />
  <main class="w-full flex flex-col gap-2">
    <form [formGroup]="changePwdForm" class="w-full flex flex-col gap-2">
      <div class="flex items-center gap-4 w-full">
        <label class="w-1/5 text-right" for="oldPassword">Old Password</label>
        <input
          type="text"
          class="w-4/5 input-md input-r-xl"
          formControlName="oldPassword"
        />
      </div>
      <div class="flex items-center gap-4 w-full">
        <label class="w-1/5 text-right" for="newPassword">New Password</label>
        <input
          type="text"
          class="w-4/5 input-md input-r-xl"
          formControlName="newPassword"
        />
      </div>
      <div class="flex items-center gap-4 w-full">
        <label class="w-1/5 text-right" for="confirmPassword"
          >Confirm New Password</label
        >
        <input
          type="text"
          class="w-4/5 input-md input-r-xl"
          formControlName="confirmPassword"
        />
      </div>
      <div class="flex items-center gap-4 w-full">
        <label class="w-1/5 text-right" for="confirmPassword">OTP</label>
        <div class="flex items-center gap-4">
          <input
            type="text"
            class="w-4/5 input-md input-r-xl"
            formControlName="otpCode"
          />
          <button class="btn btn-primary btn-r-xl" (click)="handleSendEmail()">
            Send OTP
          </button>
        </div>
      </div>
      <div class="flex justify-end items-center gap-4 w-full">
        <div class="w-1/5"></div>
        <button
          (click)="onClickChangeButton()"
          class="text-center w-4/5 btn-large btn-r-xl btn-primary"
          [disabled]="!changePwdForm.valid"
        >
          Change
        </button>
      </div>
    </form>
  </main>
</section>
