/* You can add global styles to this file, and also import other style files */

/* Import Google font Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@layer primeng ,tailwind-base , reset, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #000;
  --secondary: #3b82f6;
  --highlight: #1d4ed8;
  --sub: #999;
  --disabled: #666;
  --gray: #f0f0f0;
  --danger: #ff3333;
  --success: #01ab31;

  --text-primary: var(--primary);
  --text-secondary: var(--secondary);
  --text-disabled: var(--disabled);
  --text-danger: var(--danger);
  --text-success: var(--success);
}

/* Reset CSS */
@layer reset {
  body {
    margin: 0;
    padding: 0;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
  p {
    @apply text-base;
  }

  /* custom class PrimeNG Library */
  .p-slider-handle {
    border: 2px solid #3b82f6;
  }

  .p-paginator-pages .p-highlight {
    color: #1d4ed8;
    background: #eff6ff;
  }

  .p-tabview-nav {
    @apply text-xl;
  }

  .btn {
    @apply px-8;
    @apply py-2;
    @apply text-white;
    @apply min-w-max;
    @apply transition-all;
    @apply duration-300;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply gap-2;
  }

  .btn-large {
    @apply px-8;
    @apply py-3;
    @apply text-white;
    @apply min-w-max;
    @apply transition-all;
    @apply duration-300;
  }

  .btn:disabled,
  .btn-large:disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  .btn-flat-primary {
    @apply bg-primary/5;
    @apply text-primary;
  }

  .btn-flat-primary:hover {
    @apply bg-primary;
    @apply text-white;
    @apply cursor-pointer;
  }

  .btn-flat-secondary {
    @apply bg-secondary/10;
    @apply text-secondary;
  }

  .btn-flat-secondary:hover {
    @apply bg-secondary;
    @apply text-white;
    @apply cursor-pointer;
  }

  .btn-flat-danger {
    @apply bg-danger/10;
    @apply text-danger;
  }

  .btn-flat-danger:hover {
    @apply bg-danger;
    @apply text-white;
    @apply cursor-pointer;
  }

  .btn-icon {
    @apply px-4 py-2;
    @apply text-white;
    @apply min-w-max;
    @apply transition-all;
    @apply duration-300;
  }

  .btn-primary-outline {
    @apply bg-transparent;
    @apply text-primary;
    @apply underline;
  }

  .btn-secondary-outline {
    @apply bg-transparent;
    @apply text-secondary;
    @apply underline;
  }

  .btn-r-full {
    @apply rounded-full;
  }

  .btn-r-md {
    @apply rounded-md;
  }

  .btn-r-xl {
    @apply rounded-xl;
  }

  .btn-r-2xl {
    @apply rounded-2xl;
  }

  .btn-primary {
    @apply bg-primary/80;
  }

  .btn-primary:hover {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-secondary/80;
  }
  .btn-secondary:hover {
    @apply bg-secondary;
  }

  .btn-danger {
    @apply bg-danger/80;
  }

  .btn-danger:hover {
    @apply bg-danger;
  }

  .btn-warning {
    @apply bg-warning/80;
  }

  .btn-warning:hover {
    @apply bg-warning;
  }

  .input-sm {
    @apply px-2 py-1;
    @apply outline-secondary/25;
    @apply border;
    @apply border-primary/10;
    @apply transition-all;
    @apply duration-200;
  }

  .input-md {
    @apply px-4;
    @apply py-2;
    @apply border;
    @apply transition-all;
    @apply duration-200;
    @apply border;
    @apply border-primary/10;
    @apply outline-secondary/25;
  }

  .input-sm:disabled,
  .input-md:disabled {
    @apply bg-black/10;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-r-full {
    @apply rounded-full;
  }

  .input-r-xl {
    @apply rounded-xl;
  }
  .input-r-2xl {
    @apply rounded-2xl;
  }

  .link {
    @apply transition-all;
    @apply duration-300;
  }

  .link-primary {
    @apply text-primary;
  }

  .link-secondary {
    @apply text-secondary/80;
  }

  .link-sub {
    @apply text-sub;
  }

  .link:hover {
    @apply text-secondary;
  }

  .link.active {
    @apply text-secondary;
    @apply border-b-2;
    @apply border-secondary;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"] {
      --active: #275efe;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, 0.3);
      --border: #bbc1e1;
      --border-hover: #275efe;
      --background: #fff;
      --disabled: #f6f8ff;
      --disabled-inner: #e1e6f9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type="checkbox"]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }
    input[type="checkbox"]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    input[type="checkbox"]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    input[type="checkbox"]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    input[type="checkbox"]:disabled + label {
      cursor: not-allowed;
    }
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    input[type="checkbox"]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    input[type="checkbox"]:not(.switch) {
      width: 21px;
      border-radius: 7px;
    }
    input[type="checkbox"]:not(.switch):after {
      opacity: var(--o, 0);
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    input[type="checkbox"]:checked:not(.switch) {
      --o: 1;
      --r: 43deg;
    }
    input[type="checkbox"].switch {
      width: 38px;
      border-radius: 11px;
    }
    input[type="checkbox"].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    input[type="checkbox"].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    input[type="checkbox"].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
    input[type="checkbox"] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
}
