/* You can add global styles to this file, and also import other style files */

/* Import Google font Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@layer primeng ,tailwind-base , reset, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #000;
  --secondary: #3b82f6;
  --highlight: #1d4ed8;
  --sub: #999;
  --disabled: #666;
  --gray: #f0f0f0;
  --danger: #ff3333;
  --success: #01ab31;

  --text-primary: var(--primary);
  --text-secondary: var(--secondary);
  --text-disabled: var(--disabled);
  --text-danger: var(--danger);
  --text-success: var(--success);
}

/* Reset CSS */
@layer reset {
  body {
    margin: 0;
    padding: 0;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
  p {
    @apply text-base;
  }

  /* custom class PrimeNG Library */
  .p-slider-handle {
    border: 2px solid #3b82f6;
  }

  .p-paginator-pages .p-highlight {
    color: #1d4ed8;
    background: #eff6ff;
  }

  .p-tabview-nav {
    @apply text-xl;
  }

  .btn {
    @apply px-8;
    @apply py-2;
    @apply text-white;
    @apply min-w-max;
    @apply transition-all;
    @apply duration-300;
    @apply flex;
    @apply items-center;
    @apply gap-2;
  }

  .btn:disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  .btn-icon {
    @apply px-4 py-2;
    @apply text-white;
    @apply min-w-max;
    @apply transition-all;
    @apply duration-300;
  }

  .btn-primary-outline {
    @apply bg-transparent;
    @apply text-primary;
    @apply underline;
  }

  .btn-secondary-outline {
    @apply bg-transparent;
    @apply text-secondary;
    @apply underline;
  }

  .btn-large {
    @apply px-8;
    @apply py-3;
    @apply text-white;
    @apply min-w-max;
    @apply transition-all;
    @apply duration-300;
  }

  .btn-r-full {
    @apply rounded-full;
  }

  .btn-r-xl {
    @apply rounded-xl;
  }

  .btn-r-2xl {
    @apply rounded-2xl;
  }

  .btn-primary {
    @apply bg-primary/80;
  }

  .btn-primary:hover {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-secondary/80;
  }
  .btn-secondary:hover {
    @apply bg-secondary;
  }

  .btn-danger {
    @apply bg-danger/80;
  }

  .btn-danger:hover {
    @apply bg-danger;
  }

  .btn-warning {
    @apply bg-warning/80;
  }

  .btn-warning:hover {
    @apply bg-warning;
  }

  .input-sm {
    @apply px-2 py-1;
    @apply outline-secondary/25;
    @apply border;
    @apply border-primary/10;
    @apply transition-all;
    @apply duration-200;
  }

  .input-md {
    @apply px-4;
    @apply py-2;
    @apply border;
    @apply transition-all;
    @apply duration-200;
    @apply border;
    @apply border-primary/10;
    @apply outline-secondary/25;
  }

  .input-r-full {
    @apply rounded-full;
  }

  .input-r-xl {
    @apply rounded-xl;
  }
  .input-r-2xl {
    @apply rounded-2xl;
  }

  .link {
    @apply transition-all;
    @apply duration-300;
  }

  .link-primary {
    @apply text-primary;
  }

  .link-secondary {
    @apply text-secondary/80;
  }

  .link-sub {
    @apply text-sub;
  }

  .link:hover {
    @apply text-secondary;
  }

  .link.active {
    @apply text-secondary;
    @apply border-b-2;
    @apply border-secondary;
  }
}
