<section class="w-full flex justify-center">
  <div
    class="max-w-7xl w-full flex flex-col justify-center items-center bg-gray rounded-5xl"
  >
    <header class="py-8">
      <h2 class="uppercase font-extrabold">Browse by dresscode</h2>
    </header>
    <main class="grid grid-cols-5 gap-12 w-full px-12 py-8">
      <div
        class="relative h-[350px] w-full col-span-2 bg-white overflow-hidden rounded-4xl"
      >
        <div class="absolute top-4 left-8">
          <h3 class="font-bold">Casual</h3>
        </div>
        <div class="absolute translate-x-1/4 -translate-y-1/2 h-full">
          <img src="assets/browse-style/casual-style.png" alt="" />
        </div>
      </div>
      <div
        class="relative h-[350px] w-full col-span-3 bg-white overflow-hidden rounded-4xl"
      >
        <div class="absolute top-4 left-8">
          <h3 class="font-bold">Formal</h3>
        </div>
        <div class="absolute translate-x-1/4 h-full">
          <img src="assets/browse-style/formal-style.png" alt="" />
        </div>
      </div>
      <div
        class="relative h-[350px] w-full col-span-3 bg-white overflow-hidden rounded-4xl"
      >
        <div class="absolute top-4 left-8">
          <h3 class="font-bold">Party</h3>
        </div>
        <div class="absolute -translate-y-1/3 translate-x-24 h-full">
          <img src="assets/browse-style/party-style.png" alt="" />
        </div>
      </div>
      <div
        class="relative h-[350px] w-full col-span-2 bg-white overflow-hidden rounded-4xl"
      >
        <div class="absolute top-4 left-8">
          <h3 class="font-bold">Gym</h3>
        </div>
        <div class="absolute translate-x-8 -translate-y-1/2 h-full">
          <img src="assets/browse-style/gym-style.png" alt="" />
        </div>
      </div>
    </main>
  </div>
</section>
