<p-toast />
<div class="max-w-7xl w-full flex flex-col justify-center items-center gap-4">
  <header class="w-full text-center flex flex-col gap-4">
    <h3 class="font-bold">Where should we sent the order?</h3>
    <p class="text-sub">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore.
    </p>
  </header>
  <main
    class="w-max flex flex-col gap-4 border border-black/10 px-6 py-4 rounded-2xl"
  >
    <h6 class="font-semibold">Billing Address</h6>

    <div class="flex items-center gap-4">
      <div class="w-full flex flex-col gap-1">
        <label class="text-sm" for="province">Choose your address</label>
        <p-listbox
          [options]="listAddressesOptions"
          [(ngModel)]="selectedAddress"
          (onChange)="handleChangeAddress($event)"
        />
      </div>
    </div>
    <app-address-box
      [addressData]="addressData"
      [isNewAddress]="isNewAddress"
      (onSave)="handleNextStep($event)"
    />
  </main>
</div>
